@page "/AddArcherssCompitions"
@using ArcheryMAS.Context
@using ArcheryMAS.Enitites
@using ArcheryMAS.Enitites
@using ArcheryMAS.Service
@using ArcheryMAS.ViewModels
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens
@using ArcheryMAS.Context
@using ArcheryMAS.Service
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ArcherService ArcherService
@inject CompetitionService CompetitionService
@inject ArcheryDbContext DbContext
@inject PersonService PersonService
@inject ArcherInCompetitionService ArcherInCompetitionService

<h2>Wyszukaj Zawodnika</h2>
<div class="row">
    <div class="search-section col">
        <label for="name">Imiona:</label>
        <input @bind="searchCriteria.Names" id="name" type="text" placeholder="Imiona (przez przecinki)">
        <label for="surname">Nazwisko:</label>
        <input @bind="searchCriteria.Surname" id="surname" type="text" placeholder="Nazwisko">
        <label for="pesel">PESEL:</label>
        <input @bind="searchCriteria.PESEL" id="pesel" type="text" placeholder="Pesel">
        <label for="competition">Zawody:</label>
        <select @onchange="OnCompetitionChanged">
            @foreach (var competition in _competitions)
            {
                <option value="@competition.Name">@competition.Name</option>
            }
        </select>
        <button @onclick="Search">Szukaj</button>
        <button onclick="location.href='/'">Wróć do menu</button>
    </div>
    <div class="table-section col">
        <table>
            <thead>
            <tr>
                <th>Dodaj</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Ranga</th>
                <th>PESEL</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var archer in _searchResultsViewModels)
            {
                @if (archer.Archer == null)
                {
                    continue;
                }

                Console.WriteLine(_searchResultsViewModels.Count);
                <tr>
                    <td>
                        <input type="checkbox" @onclick="() => ToggleSelection(archer)" checked="@archer.IsSelected"/>
                    </td>
                    <td>@archer.Person.Names</td>
                    <td>@archer.Person.Surname</td>
                    <td>@archer.Archer?.Rank</td>
                    <td>@archer.Person.PESEL</td>
                </tr>
            }
            </tbody>
        </table>
        <button @onclick="AcceptSelection">Akceptuj</button>
    </div>
</div>

@code {

    /// <summary>
    /// Lista zawodów
    /// </summary>
    private List<Competition> _competitions = [];

    /// <summary>
    /// Wyniki wyszukiwania
    /// </summary>
    private List<Person> _searchResults = [];

    /// <summary>
    /// Zaznaczeni zawodnicy
    /// </summary>
    private HashSet<string> _selectedPESELs = [];

    /// <summary>
    /// Kryteria wyszukiwania
    /// </summary>
    private SearchCriteria searchCriteria = new();

    /// <summary>
    /// Wybrane zawody
    /// </summary>
    private Competition selectedCompetition = new();

    /// <summary>
    /// Nazwa wybranych zawodów
    /// </summary>
    private string? selectedCompetitionName;

    /// <summary>
    /// Wybrani zawodnicy
    /// </summary>
    private List<ArcherPersonViewModel> _selectedArchers = new List<ArcherPersonViewModel>();

    /// <summary>
    /// Wyniki wyszukiwania w postaci ArcherPersonViewModel
    /// </summary>
    private List<ArcherPersonViewModel> _searchResultsViewModels = new List<ArcherPersonViewModel>();

    /// <summary>
    /// Inicjalizacja komponentu. Pobranie listy zawodów z bazy danych i zapisanie ich w polu _competitions.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        _competitions = await CompetitionService.GetAllCompetitionsAsync();
    }

    /// <summary>
    /// Przełączenie zaznaczenia zawodnika
    /// </summary>
    private static void ToggleSelection(ArcherPersonViewModel archerVM)
    {
        archerVM.IsSelected = !archerVM.IsSelected;
    }


    /// <summary>
    /// Akceptacja wyboru zawodników i zapisanie ich do bazy danych, jeżeli są zaznaczeni.
    /// Przejście do kolejnego widoku.
    /// </summary>
    private void AcceptSelection()
    {
        if (selectedCompetition == null)
        {
            Console.WriteLine("No competition selected");
            return;
        }

        if (DbContext.Entry(selectedCompetition).State == EntityState.Detached)
        {
            DbContext.Competitions.Attach(selectedCompetition);
            DbContext.Entry(selectedCompetition).State = EntityState.Modified;
        }

        DbContext.SaveChanges();
        if (DbContext.Entry(selectedCompetition).State == EntityState.Added)
        {
            Console.WriteLine("Setting state to unchanged");
            DbContext.Entry(selectedCompetition).State = EntityState.Unchanged;
        }

        Console.WriteLine($"Num of archers: {_selectedArchers.Count}");
        foreach (var archer in _selectedArchers)
        {
            if (DbContext.Entry(archer.Archer).State == EntityState.Detached)
            {
                DbContext.Archers.Attach(archer.Archer);
                DbContext.Entry(archer.Archer).State = EntityState.Modified;
            }

            if (archer.IsSelected)
            {
                var newArcherInCompetition = new ArcherInCompetition
                {
                    Archer_Person_PESELNavigation = archer.Archer,
                    Competition_Name = selectedCompetition.Name,
                    Archer_Person_PESEL = archer.Person.PESEL,
                    Competition_NameNavigation = selectedCompetition,
                    Prize = "Brak nagrody"
                };
                ArcherInCompetitionService.AddArcherInCompetitionAsync(newArcherInCompetition);
                DbContext.SaveChanges();
            }
        }

        NavigationManager.NavigateTo("/addcompetition/endArchers");
    }

    /// <summary>
    /// Inicjalizacja widoków dla wyników wyszukiwania. Wypełnienie tabeli zawodnikami.
    /// </summary>
    private void InitializeViewModels()
    {
        _searchResultsViewModels = _searchResults.Select(p =>
        {
            var viewModel = new ArcherPersonViewModel
            {
                Person = p,
                Archer = p.Archer,
                IsSelected = _selectedPESELs.Contains(p.PESEL)
            };

            viewModel.OnSelectionChanged = () => UpdateSelectedArchers(viewModel);
            return viewModel;
        }).ToList();
    }

    /// <summary>
    /// Aktualizacja listy zaznaczonych zawodników
    /// </summary>
    private void UpdateSelectedArchers(ArcherPersonViewModel viewModel)
    {
        if (viewModel.IsSelected)
        {
            if (_selectedArchers.All(a => a.Person.PESEL != viewModel.Person.PESEL))
            {
                _selectedArchers.Add(viewModel);
                _selectedPESELs.Add(viewModel.Person.PESEL);
            }
        }
        else
        {
            _selectedArchers.RemoveAll(a => a.Person.PESEL == viewModel.Person.PESEL);
            _selectedPESELs.Remove(viewModel.Person.PESEL);
        }
    }

    /// <summary>
    /// Obsługa zmiany wybranych zawodów
    /// </summary>
    private Task OnCompetitionChanged(ChangeEventArgs e)
    {
        selectedCompetitionName = e.Value?.ToString();
        selectedCompetition = _competitions.FirstOrDefault(c => c.Name == selectedCompetitionName);

        if (selectedCompetition == null)
        {
            Console.WriteLine("Competition not found: " + selectedCompetitionName);
        }
        else
        {
            Console.WriteLine("Selected competition: " + selectedCompetition.Name);
        }

        return Task.CompletedTask;
    }

    /// <summary>
    /// Wyszukiwanie zawodników na podstawie kryteriów.
    /// </summary>
    private async Task Search()
    {
        if (DbContext != null)
        {
            _searchResults = await PersonService.GetPeopleArchersAsync(searchCriteria);
            InitializeViewModels();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Klasa pomocnicza do przechowywania kryteriów wyszukiwania. 
    /// </summary>
    public class SearchCriteria
    {
        /// <summary>
        /// Imiona zawodnika 
        /// </summary>
        public string Names { get; set; }

        /// <summary>
        /// Nazwisko zawodnika 
        /// </summary>
        public string Surname { get; set; }

        /// <summary>
        /// PESEL zawodnika 
        /// </summary>
        public string PESEL { get; set; }
    }

}


<style>
    body {
        font-family: Arial, sans-serif;
    }
    .search-section, .table-section {
        padding: 20px;
        height: 90vh;
        overflow-y: auto;
    }
    h2 {
        margin-top: 0;
    }
    
    label, input, button {
        display: block; 
        margin: 5px 0;  
        width: 100%;    
    }
    
    input, button {
         padding: 8px;
    }
    
    select {
        padding: 8px;
        width: 100%;
    }
    
    button {
        color: white;
        border: none;
        cursor: pointer;
        background-color: rgb(89, 117, 55);
        border-radius: 10px;
    }
    
    button:hover {
        background-color: #367c39;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    
    .scrollable {
        max-height: calc(100vh - 150px);
        overflow-y: auto;
    }
</style>