@page "/EditBowOlympicData"
@using ArcheryMAS.Context
@using ArcheryMAS.Enitites
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@inject ArcheryMAS.Service.BowService BowService
@inject ArcheryDbContext ArcheryDbContext

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: rgb(89, 117, 55);

        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .button {
        background-color: rgb(89, 117, 55);
        border-radius: 10px;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
    }

    .modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(89, 117, 55, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #f4f4f4;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        border-radius: 10px;
    }
</style>

<h2>Edytuj łuki olimpijskie</h2>
<div class="table-section col">
    <table>
        <thead>
        <tr>
            <th>Nick Name</th>
            <th>Manufacturer</th>
            <th>Force</th>
            <th>Number Of Stabilizers</th>
            <th>Days Without Service</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bow in olympicBows)
        {
            <tr>
                <td>@bow.Bow_NickNameNavigation.NickName</td>
                <td>@bow.Bow_NickNameNavigation.Manufacturer</td>
                <td>@Math.Round(bow.Bow_NickNameNavigation.Force, 2)</td>
                <td>@bow.NummberOfStabilizers</td>
                <td>@bow.DaysWithoutService</td>
                <td>
                    <button @onclick="() => EditBow(bow)">edit</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="button" onclick="location.href='/'">Wróć</button>
</div>

@if (isSelected)
{
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <h2>Edytuj łuk: @_selectedBow.Bow_NickNameNavigation.NickName</h2>
                <label>Nick Name:</label>
                <input @bind="_selectedBow.Bow_NickNameNavigation.NickName"/>

                <label>Manufacturer:</label>
                <input @bind="_selectedBow.Bow_NickNameNavigation.Manufacturer"/>

                <label>Force:</label>
                <input type="number" @bind="_selectedBow.Bow_NickNameNavigation.Force"/>

                <label>Number Of Stabilizers:</label>
                <input type="number" @bind="_selectedBow.NummberOfStabilizers"/>

                <label>Days Without Service:</label>
                <input type="number" @bind="_selectedBow.DaysWithoutService"/>

                <button class="button" @onclick="ConfirmEdit">Potwierdź</button>
                <button class="button" @onclick="CancelEdit">Anuluj</button>
            </div>
        </div>
    </div>
}


@code {

    /// <summary>
    /// Łuk wybrany do edycji
    /// </summary>
    private OlympicBow _selectedBow = null;

    /// <summary>
    /// Zmienna, przez którą sprawdzamy czy łuk jest wybrany
    /// </summary>
    private bool isSelected = false;

    /// <summary>
    /// Lista łuków olimpijskich 
    /// </summary>
    private List<OlympicBow> olympicBows;

    /// <summary>
    /// Metoda, która pobiera łuki olimpijskie z bazy danych
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        olympicBows = await BowService.GetOlympicBowsAsync();
        StateHasChanged();
    }

    private void EditBow(OlympicBow bow)
    {
        Console.WriteLine("Edit bow");
        _selectedBow = bow;
        isSelected = true;
        StateHasChanged();
    }


    private void ConfirmEdit()
    {
        BowService.UpdateOlympicBowAsync(_selectedBow);
        _selectedBow = null;
        isSelected = false;
        StateHasChanged();
    }

    private void CancelEdit()
    {
        _selectedBow = null;
        isSelected = false;
        StateHasChanged();
    }

}